*{
	margin:0;
	padding: 0;
}

body{
	background: linear-gradient(160deg,#2980b9,#8e44ad);

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	padding: 70px 50px;
	padding-bottom: 70px;
	
}

.container{
	position: absolute;
	/*width: 100px;
	height: 100px;
	border-radius: 50%;
	top: 50px;
	left: calc(50% -50px);*/

	position: relative;
	border:hidden;
	height: 100%;
	margin: 0 60px 0px 50px;
	width:95%;
	padding-right: 80px;
	top: -10px;
	left:10px;
	right:40px;
	bottom:-10px;

	
}

h1{
	font-size: 22px;
	line-height: 19px;
	padding: 30px
	align:left;
	margin:10px auto;
}

.sel1
{
	border:hidden;
	position:relative;
	left:86%;
}
.sel{

	border:hidden;
	position:relative;
	left:80px;

}

.sel2
{
	border:hidden;
	position:relative;
	left:85%;
	background-color: slateblue;
	color:blue;
}
.adjust select{
	left:85px;
}


.ginfo{
	background-color:white;
	border: hidden;
	/*border-radius: 3px;*/
	
	width:50%;
	height:70vh%;
	padding: 20px;
	position:relative;
	right:2px;
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;

	
}

.ginfo h1{
	color: rgb(137,207,240);
}

form{
	padding: 20px;
	position: relative;
	display: flex;
	line-height: 25px;
	height: 100%;

}
form input{
	border:hidden;
	border-bottom: 1px solid black;
	max-width: 700px 

}

.adjust{
	width:100%;
}

label{
	width: 100%
	font-size:10px;
}
.fn{
	width:220px;
}

.lastname{
	position: relative;
	left:17px;
	top:-20px;
}
.lastname input{
	position: relative;
    left:220px;
    width: 297px;
    top:-5px;
}
.emp{
	position:relative;
	left:17px;
	bottom: 20px;
}
.emp input{
	position: relative;
	left: 220px;
	width:297px;
	bottom: 5px;
}
.emp select{
	left: 197px;
}
.cdetail{
	background-color: slateblue;
	width:50%;
	height: 70vh;
	padding: 20px;
	border-top-right-radius: 18px;
	border-bottom-right-radius: 18px;
}
.cdetail h1{
	color: #fff;
}
.cdetail label{
	color:white;
}

.place{
	position:relative;
	left: 30px;
	top: -13px;
}
.place select{
	border:none;
	position:relative;
	left:269px;
	top: -11px;
	background-color: slateblue;
	color: blue;

}

.place1 {
	position:relative;
	left:230px;
	top:-25px;
	width:300px;
}

.cdetail input{
	background-color:slateblue;
	border:none;
	border-bottom: 1PX solid white;

}
.cdetail select{
	color:white;
}

.phone{
	position:relative;
	left:30px;
	top: -12px;
}
.phone input{
	position: relative;
	left:200px;
	top: -12px;
	width:300px;

}

.btn{
	background-color: white;
	border-color: white;
	border-radius: 50px;
	width:100px;
	padding: 2px;
	transition: 0.6s ease;
	text-decoration: none;
	font-size: 16px

}
a:hover{
	text-decoration: none;
	cursor:pointer;
	color: #fff;
}
a:visited{
	color: green;
}

.btn:hover{
	text-decoration: underline;
	color:red;
	background-color: green;
	cursor: pointer;


}

